body {
  background-color: #e3d0b5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.row .col.s6 {
  padding: 20px;
}
.row .col.s3 {
  padding: 20px;
}

.card {
  box-shadow: 10px 10px 5px grey;
  border-radius: 20px;
}

.card .card-image img {
  border-radius: 20px 20px 0px 0px;
}

.card .card-content {
  border-radius: 0px 0px 20px 20px;
}

.card .card-content p {
  text-align: center;
  font-size: 20px;
}
.card-content {
  background-color: #0a2239;
  color: #f3f0ef;
}

.sidenav {
  background-color: #282b42;
}
